/*font-family: 'Pangolin', cursive;
font-family: 'Slabo 27px', serif;
font-family: 'Bubbler One', sans-serif;
font-family: 'Open Sans', sans-serif;*/

html{
    height: 100%;
    position: relative;
}

body {
    height: 100%;
}

.title {
    font-family: 'Pangolin', cursive;
    font-size: 56px;
    text-align: center;
    color: rgba(0, 50, 150, 1);
    background-color: rgba(0, 100, 200, 0.15);
    /*padding: 1%;*/
    padding: 1.5rem;
}

.nav {
    font-family: 'Bubbler One', sans-serif;
    text-align: center;
    background-color: rgba(118, 118, 219, 0.05);
    margin-left: 0.5rem;
    position: relative;
    width: 200px;
    height: 90%;
 }

 .new-room-button {
     color: white;
     background-color: rgba(0, 100, 200, 0.50);
     border: 2px solid rgba(0, 100, 200, 0.75);
     padding: 5px 10px;
     border-radius: 8px;
     display: inline-block;
     font-size: 26px;
 }

 .new-room-button:hover {
     color: white;
     background-color: rgba(0, 100, 200, 1);
     border: 2px solid rgba(0, 100, 200, 1);
     padding: 5px 10px;
     border-radius: 8px;
     display: inline-block;
     font-size: 26px;
     cursor: pointer;
 }

.room-names {
    cursor: pointer;
}

.room-names:hover {
    color: rgba(0, 100, 200, 1);
}

.chat {
    display: inline-block;
    font-family: 'Bubbler One', sans-serif;
    position: absolute;
    top: 150px;
    left: 300px;
    height: 500px;
    /*width: 60%;*/
    color: rgba(0, 50, 150, 1);
}

.message-display {
    font-family: 'Pangolin', cursive;
    color: rgba(0, 50, 150, 1);
    font-size: 16px;
}

.message-content {
    color: gray;
    font-size: 24px;
}

.modal-window {
    font-family: 'Bubbler One', sans-serif;
    color: rgba(0, 50, 150, 1);
    background-color: rgba(0, 100, 200, 0.15);
    text-align: center;
}

.modal-header {
    color: white;
    background-color: rgba(0, 100, 200, 1);
    text-align: center;
}

.modal-title {
    font-size: 30px;
}

.modal-prompt {
    font-size: 16px;
    padding: 5px;
    text-align: left;
}

.modal-actions {
    position: relative;
    bottom: 5px;
    padding: 15px;
}

.message-field {
    position: fixed;
    top: 700px;
}

.message-box {
    width: 200px;
}
