body {
  padding-left: 10rem;
  padding-right: 10rem;
}

div, button, span, strong {
  font-family: 'Averia Gruesa Libre', cursive;
}

.title {
  color: rgba(0, 50, 150, 1);
  background-color: rgba(0, 100, 200, 0.15);
  padding: 1rem;

  font-size: 4.5rem;
  text-align: center;
}

.nav {
  position: relative;
  padding-top: 1.5rem;
  padding-left: 5rem;
  background-color: rgba(0, 100, 200, 0.05);
  height: 6rem;
  width: 100%;
  overflow-x: auto;

  font-size: 2rem;
 }

.new-room-button {
  margin: 5px 10px;
  background-color: rgba(0, 100, 200, 0.50);
  border: 2px solid rgba(0, 100, 200, 0.75);
  padding: 5px 10px;
  border-radius: 8px;

  color: white;
}

.sign-out-button {
  margin: 5px 10px;
  background-color: rgba(0, 100, 200, 0.50);
  border: 2px solid rgba(0, 100, 200, 0.75);
  padding: 5px 10px;
  border-radius: 8px;

  color: white;
}

 .new-room-button:hover {
  background-color: rgba(0, 100, 200, 1);
  border: 2px solid rgba(0, 100, 200, 1);
  cursor: pointer;
 }

 .sign-out-button:hover {
  background-color: rgba(0, 100, 200, 1);
  border: 2px solid rgba(0, 100, 200, 1);
  cursor: pointer;
 }

.room-names {
  margin: 5px 10px;
  padding: 5px 10px;
  color: gray;
  cursor: pointer;
}

.room-names:hover {
  color: rgba(0, 100, 200, 1);
}

.chat {
  background-image: url(../assets/images/unclever-bot_horizontal.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  position: relative;
  margin-top: 5rem;
  left: 5rem;
  min-height: 50rem;
  width: 80%;
  display: inline-block;

  color: gray;
}

#convo-history {
  margin-left: 35rem;
  height: 35rem;
  width: 50%;
  max-width: 70rem;
  overflow-y: auto;
}

.message-display {
  font-size: 1rem;
}

#username {
  color: rgba(0, 50, 150, 1);
  font-size: 1.5rem;
}

.message-content {
  padding-left: 5rem;

  color: black;
  font-size: 1.5rem;
}

.modal-window {
  background-color: rgba(0, 100, 200, 0.15);
  text-align: center;

  color: rgba(0, 50, 150, 1);
}

.modal-header {
  background-color: rgba(0, 100, 200, 1);

  text-align: center;
  color: white;
}

.modal-title {
  font-size: 3rem;
}

.modal-prompt {
  padding: 5px;

  font-size: 2rem;
  text-align: left;
}

.modal-actions {
  position: relative;
  bottom: 5px;
  padding: 15px;

  font-size: 1.5rem;
}

.message-field {
  position: relative;
}

.message-box {
  margin-left: 35rem;
  width: 30%;
  max-width: 70rem;
}
