img {
  width: 10%;
  height: 10%;
}

body {
  min-height: 70rem;
  text-align: center;
}

div, button, span, strong {
  font-family: 'Averia Gruesa Libre', cursive;
}

.title {
  color: rgba(0, 50, 150, 1);
  background-color: rgba(0, 100, 200, 0.15);
  padding: 1rem;

  font-size: 3.5rem;
  text-align: center;
}

.new-room-button {
  margin: 5px 10px;
  background-color: rgba(0, 100, 200, 0.50);
  padding: 5px 10px;
  border-radius: 8px;

  color: white;
}


 .new-room-button:hover {
  background-color: rgba(0, 100, 200, 1);
  cursor: pointer;
 }

.room-names {
  margin: 5px 10px;
  background-color: rgba(160,160,160,0.5);
  padding: 5px 10px;
  border-radius: 8px;

  color: black;
}

.room-names:hover {
  background-color: rgba(160,160,160,1);
  cursor: pointer;
}

.message-field {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  text-align: left;
}

.message-box {
  width: 80%;
}

.message-display {
  font-size: 1rem;
  text-align: left;
}

#username {
  color: rgba(0, 50, 150, 1);
  font-size: 1.5rem;
}

.message-content {
  padding-left: 5rem;

  color: black;
  font-size: 1.5rem;
}

.modal-window {
  background-color: rgba(0, 100, 200, 0.15);
  text-align: center;

  color: rgba(0, 50, 150, 1);
}

.modal-header {
  background-color: rgba(0, 100, 200, 1);

  text-align: center;
  color: white;
}

.modal-title {
  font-size: 3rem;
}

.modal-prompt {
  padding: 5px;

  font-size: 2rem;
  text-align: left;
}

.modal-actions {
  position: relative;
  bottom: 5px;
  padding: 15px;

  font-size: 1.5rem;
}
