<!-- ui.bootstrap.modal markup -->

<div class = 'modal-window'>
    <div class = 'modal-header'>
        <h4 class = 'modal-title' id = 'modal-title'> Create Bot </h4>
    </div>

    <div class = 'modal-body'>
        <h6 class = 'modal-prompt' id = 'modal-prompt'> Enter a bot name: </h6>
        <input type = 'text' name = 'input' ng-model = 'modal.newRoom.name'>
    </div>

    <div class = 'modal-actions'>
        <button class = 'cancel' type = 'button' ng-click = 'modal.cancel()'> Cancel </button>
        <button class = 'submit' type = 'button' ng-click = 'modal.submitNewRoom()'> Submit </button>
    </div>
</section>
